/* Global reset and styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #323232;
  color: #ffffff;
}

span {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  color: green;
}
/* Container styling for the app */
.app-container {
  max-width: 600px;
  margin: 50px auto;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.864);
  border: solid rgb(9, 194, 236) 1px;
}

/* Header styling */
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Styling the question text */
.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.custom-button {
  color: white; /* White text */
  font-size: 16px;
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
  background-color: #353636;
  border-radius: 6px;
  border: 1px solid rgb(106, 106, 106);
}

/* Option button styling */
.option {
  color: white; /* White text */
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #007bff; /* Blue background */
  cursor: pointer;
  text-align: left;
  transition: background 0.3s, border 0.3s, background-color 0.3s ease;
}

.option:hover {
  background-color: #0a61be; /* Darker blue on hover */
}
.option.selected {
  background: #242424;
  border: 1px solid #c9c9c9;
  color: green;
}

/* Navigation button styles */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-buttons button {
  padding: 10px 20px;
  border: none;
  background: #1e1e1e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.864);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.nav-buttons button:hover {
  background: #585858;
}

.nav-buttons button:disabled {
  background: #a0c4e3;
  cursor: not-allowed;
}

/* Restart button styling */
.restart-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background: #42a5f5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.restart-button:hover {
  background: #1e88e5;
}

/* Score display styling */
.score {
  font-size: 1.4em;
  text-align: center;
  margin: 20px 0;
}

.center-results,
p {
  margin: 0;
  display: flex;
  gap: 5px;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.results-container.flash {
  animation: flash UX 0.6s ease;
}

@keyframes flashUX {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1);
  }

  50% {
    background-color: rgba(255, 213, 79, 0.15);
    transform: scale(1.03);
  }

  100% {
    background-color: transparent;
    transform: scale(1);
  }
}
